page-home {

    .ball{
        width: 10vh;
        //margin-bottom: 2;
        //margin-top: auto;
        margin-bottom: auto;
        margin-right: 12px;
        float: right;
    }
        
    ion-icon{
        float: left;       
    }

}
